/* Paleta: https://colorhunt.co/palette/22272 */

.fondo-menu {
    background-color: #112d4e;
}

/* Estilos de la página principal */

body {
    background-color: #f9f7f7;
}

a {
    text-decoration: none;
}

.anuncio {
    padding: 50px 0 30px;
    text-align: center;
}

.somos, .texto-biblico, .horarios, .contacto {
    margin: 30px auto;
    text-align: center;
    width: 40%;
}

.ubicacion {
    text-align: center;
}

.mapa {
    height: 200px;
    width: 90%;
}

/* Estilos de la página de estudios */

.detalle-estudios {
    border: 1px solid #112d4e;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3f72af;
    margin: 10px auto;
    padding: 10px;
    width: 95%;
}

.link-leccion {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    width: 135px;
}

.link-leccion:hover {
    background-color: #dbe2ef;
    border-radius: 15px;
}

.leccion {
    color: black;
    text-decoration: none;
}

.pie-de-pagina {
    background-color: #112d4e;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
  }

/* Estilos de la página de la Biblia en un año */

.contenedor-biblia-un-anio {
    margin: 5px;
    text-align: center;
}

.dia-biblia-un-anio {
    background-color: #3f72af;
    border-radius: 5px 0;
    display: block;
    margin: 0;
    position: relative;
    left: -13px;
    width: 100px;
}

.video-biblia-un-anio {
    height: 250px;
    margin: 0 auto;
    width: 95%;
}

.cont-vid-bib-un-anio {
    border: 1px solid #112d4e;
    border-radius: 5px;
    box-shadow: -3px -3px 3px #3f72af inset;
}

/* Media queries tomados de Bootstrap */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .somos, .texto-biblico, .horarios, .contacto {
        width: 50%;
    }
    
    .mapa {
        width: 95%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .somos, .texto-biblico, .horarios, .contacto {
        width: 70%;
    }
    
    .mapa {
        width: 98%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    .somos, .texto-biblico, .horarios, .contacto {
        width: 80%;
    }
    
    .mapa {
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
/*
@media (min-width: 1200px) { ... }
*/