.fondo-menu {
    background-color: #112d4e;
}

/* Estilos de la página principal */

.contenedor-principal {
    text-align: center;
}

.somos {
    margin: 30px auto;
    width: 40%;
}

.texto-biblico {
    margin: 30px auto;
    width: 40%;
}

.horarios {
    margin: 30px auto;
    width: 40%;
}

.contacto {
    margin: 30px auto;
    width: 40%;
}

.mapa {
    height: 200px;
    width: 90%;
}

/* Estilos de la página de estudios */

.detalle-estudios {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    margin: 10px auto;
    padding: 10px;
    width: 95%;
}

.pie-de-pagina {
    background-color: #112d4e;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
  }

/* Estilos de la página de la Biblia en un año */

.contenedor-biblia-un-anio {
    text-align: center;
}

.dia-biblia-un-anio {
    margin: 0;
}

.video-biblia-un-anio {
    height: 250px;
    margin: 0 auto;
    width: 95%;
}

.cont-vid-bib-un-anio {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -3px -3px 3px gray inset;
}