/* Paleta: https://colorhunt.co/palette/22272 */

body {
  background-color: #f9f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
}

/* --- Encabezado --- */

header {
  margin: 0;
  width: 100%;
}

header h1 {
  display: inline-block;
  line-height: 80px;
  margin: 0;
}

#logo {
  float: left;
  height: 80px;
  margin: 0 20px 0 0;
}

/* --- Fin encabezado --- */

/* --- Menú ---*/

nav {
  background-color: #112d4e;
  box-shadow: 0px 3px 3px black;
  height: 40px;
  margin: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

nav ul li {
  border-right: 1px solid #f9f7f7;
  float: left;
  line-height: 40px;
  padding: 0 20px;
}

nav ul li:first-child {
  border-left: 1px solid #f9f7f7;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #3f72af;
}

/* --- Fin menú ---*/

/* Estilos del contenedor de la página principal */

.contenedor-principal {
  margin: 0;
  text-align: center;
}

.sub-cont-ppal {
  margin: 0;
  height: 250px;
  width: 50%;
}

.somos {
  float: left;
}

.cree {
  display: inline-block;
}

.horarios {
  float: left;
}

.ubicacion {
  display: inline-block;
}

.ubicacion iframe {
  height: 98%;
  width: 100%;
}

/* Fin estilos del contenedor de la página principal */

/* Estilos del pié de página */

footer {
  clear: both;
}

footer p {
  margin: 0;
}

.pie-de-pagina {
  background-color: #112d4e;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

/* Fin estilos del pié de página */

/* Estilos de la página reuniones */

#tabla {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  text-align: center;
}

.encabezado-de-tabla {
  background-color: #a6e3e9;
  border: #71c9ce 3px solid;
  border-radius: 5px;
}

.elemento-de-tabla1 {
  background-color: #e3fdfd;
  border: #71c9ce 2px solid;
  border-radius: 5px;
  text-align: center;
}

.video-reuniones iframe {
  width: 98%;
}

.elemento-de-tabla2 {
  background-color: #cbf1f5;
  border: #71c9ce 2px solid;
  border-radius: 5px;
  text-align: center;
}

/* Fin estilos de la página reuniones */

table {
  width: 90%;
}

.dia {
  width: 20%;
}

.video {
  width: 89%;
}

.preguntas:nth-child(n) {
  line-height: 2em;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #dbe2ef;
  border-radius: 5px;
}

.salmo23 {
  background-color: #dbe2ef;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.nota {
  background-color: #3f72af;
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
}

.video-de-nando {
  text-align: center;
}

.orador h3 {
  display: inline-block;
}

@media (max-width: 675px){

  /* Encabezado */
  header h1 {
    display: none;
  }

  #logo {
    float: none;
  }

  /* Menú */
  nav {
    height: 160px;
  }

  nav ul li {
    float: none;
    line-height: 40px;
  }

  nav ul li:first-child {
    border-left: none;
  }

  /* Contenedor principal */
  .sub-cont-ppal {
    height: auto;
    width: 100%;
  }

  .somos, .horarios {
    float: none;
  }

  #tabla {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  .encabezado-de-tabla {
    display: none;
  }

  .elemento-de-tabla1, .elemento-de-tabla2 {
    min-height: 50px;
  }

  .video-de-nando iframe {
    width: 90%;
  }
}
