/* Paleta: https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */

/* Estilos de la página principal */

body {
    background-color: #D8F3DC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    color: #D8F3DC;
    font-size: 1rem;
    text-decoration: none;
}

header {
    background-color: #081C15;
    color: #D8F3DC;
    padding: 10px;
}

footer {
    background-color: #081C15;
    color: #D8F3DC;
    height: 40px;
    line-height: 40px;
}

button {
    border: 0;
    color: #D8F3DC;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #081C15;
}

.placas {
    border: solid 1px #081C15;
    margin: 5%;
    padding: 10px;
}

.placas p {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos de la página de Sermones */

.sermones {
    background-color: #2D6A4F;
    border: 1px solid #081C15;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    width: 80%
}

.varones {
    border: 1px solid #081C15;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    width: 80%
}