/* Paleta: https://colorhunt.co/palette/22272 */

body {
  background-color: #f9f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
}

/* --- Encabezado --- */

header {
  margin: 0;
  width: 100%;
}

header h1 {
  display: inline-block;
  line-height: 80px;
  margin: 0;
}

#logo {
  float: left;
  height: 80px;
  margin: 0 20px 0 0;
}

/* --- Fin encabezado --- */

/* Estilos del pié de página */

footer p {
  margin: 0;
}

.pie-de-pagina {
  background-color: #112d4e;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

/* Fin estilos del pié de página */

table {
  width: 90%;
}

.dia {
  width: 20%;
}

.video {
  width: 89%;
}

.preguntas:nth-child(n) {
  line-height: 2em;
}

.imagen {
  width: 30%;
}

/* Estilos de las preguntas */

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #dbe2ef;
  border-radius: 5px;
}

.nota {
  background-color: #3f72af;
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
}

.video-del-predicador {
  text-align: center;
}

.orador h3, p {
  display: inline-block;
}

.orador h2, p {
  display: inline-block;
}

.orador a {
  color: gray;
  text-decoration: none;
}

.recursos li a {
  color: gray;
  text-decoration: none;
}

/* Fin estilos de las preguntas */

@media (max-width: 675px){

  /* Encabezado */
  header h1 {
    display: none;
  }

  #logo {
    float: none;
  }

  .imagen {
    width: 80%;
  }

  .video-del-predicador iframe {
    width: 90%;
  }
}
