/* Paleta de colores: https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

nav {
    background-color: #081C15;
}

footer {
    background-color: #081C15;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #D8F3DC;
}

.bio {
  display: flex;
  justify-content: center; /* Aligns horizontally */
  align-items: center;     /* Aligns vertically */
  height: fit-content;
  width: 600px;
  margin: auto;
  gap: 40px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #D8F3DC;
}

.navbar-brand:hover {
    color: #95D5B2;
}

.navbar-brand:visited {
    color: #B7E4C7;
}

.nav-link {
    color: #D8F3DC;
}

.nav-link:hover {
    color: #95D5B2;
}

.nav-link:visited {
    color: #B7E4C7;
}

.fondo-claro {
    background-color: #B7E4C7;
    color: #081C15;
    padding: 2rem 0 1rem;
}

.btn-para-fondo-claro {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family:  'Roboto', sans-serif;
  color: #081C15;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  border: solid #081C15 1px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #B7E4C7;
}

.btn-para-fondo-claro:hover {
  background: #95D5B2;
  text-decoration: none;
}

.fondo-oscuro {
    background-color: #1B4332;
    color: #D8F3DC;
    padding: 2rem 0 1rem;
}

.contenedor-redes {
  display: inline-flex;
  margin: 30px auto;
  gap: 40px;
}

.redes {
  color: #D8F3DC;
}

.redes:hover {
    color: #7FC7D9;
}

.sola-scriptura {
  height: 200px;
  border-radius: 15px; /* Adjusts the roundness of the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (width < 576px) {

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin: auto;
    gap: 40px;
  }

  .contenedor-redes {
    display: inline-flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 40px;
  }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (576px <= width < 768px) {

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin: auto;
    gap: 40px;
  }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (768px <= width < 992px) {
    /*
    .contenedor-frase {
        background-color: brown;
    }
    */
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (992px <= width < 1200px) {
    /*
    .contenedor-frase {
        background-color: beige;
    }
    */
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (1200px <= width) {
    /*
    .contenedor-frase {
        background-color: black;
    }
    */
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 900 */

/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/*
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
*/